@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .btn{
        margin-top: 5px;
        width: 300px;
        height: 60px;
    }

    .filme-principal{
        font-size: 0.8em;
    }

    .filme-principal .titulo{
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}